$green: #86C847;
$blue: #000080;
$gray: #555;

$light-gray: #949594;
$medium-gray: #585958;
$dark-gray: #333433;	

$light: 300;
$regular: 400;
$bold: 700;

$content-width: 1200px;

$gutter-desktop: 50px;
$gutter-tablet: 40px;
$gutter-mobile: 25px;

$border-radius: 8px;
$border-width: 4px;

@mixin box-sizing($box-sizing...) {
	box-sizing: $box-sizing;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}