@import "config";

#header {
	background: rgba(white, 0.9);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;

	#logo {
		height: 40px;
		width: 200px;
		background: $green;
		float: left;
		margin-left: 50px;
		transform: translateY(10px);
	}

	menu {
		float: left;
		font-size: 0;
		margin-left: 50px;
		position: relative;

		li {
			display: inline-block;
			line-height: 1;
			position: relative;
		}
		li li {
			a {
				font-size: 14px;
			}
			a::after {
				display: none;
			}
		}
		a {
			color: $gray;
			display: block;
			font-size: 16px;
			line-height: 20px;
			padding: 20px 50px;
			position: relative;
		}
		a::after {
			content: "";
			background: $green;
			display: block;
			position: absolute;
			left: 50%;
			height: $border-width;
			bottom: 15px;
			right: 50%;
			transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
		}
		a:hover::after {
			left: 50px;
			right: 50px;
		}

		ul {
			background: rgba(white, 0.9);
			border-radius: 0 0 $border-radius $border-radius;
			left: 30px;
			opacity: 0;
			padding: 10px 20px;
			position: absolute;
			top: 100%;
			transition: opacity 0.3s ease-in-out;

			li {
				display: block;
				margin: 0;
				white-space: nowrap;
			}
			a {
				line-height: 1;
				padding: 10px 0;
			}
		}

		& > li:hover {
			& > ul {
				opacity: 1;
			}
		}
	}
}