@import "config";

#header {
	background: rgba(white, 0.9);
	
	left: 0;
	position: fixed;
	right: 0;
	top: 50px;
	z-index: 10;

	&.hero-border {
		border-bottom: $border-width/2 solid $green;
	}
	&.past-hero::before {
		background: rgba(white, 0.9);
		content: "";
		height: 50px;
		left: 0;
		position: absolute;
		right: 0;
		top: -50px;
	}

	#logo {
		border-radius: $border-radius;
		padding: 2em 3em;
		background: white;
		width: 120px;
		float: left;
		position: absolute;
		top: 50%;
		left: 60px;
		transform: translateY(-50%);
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
		
		img {
			width: 100%;
		}
	}

	menu {
		float: left;
		font-size: 0;
		margin-left: 260px;
		position: relative;

		li {
			display: inline-block;
			line-height: 1;
			position: relative;
		}
		li li {
			a {
				font-size: 14px;
			}
			a::after {
				display: none;
			}
		}
		a {
			color: $gray;
			display: block;
			font-size: 14px;
			font-weight: $bold;
			line-height: 20px;
			padding: 20px 30px;
			position: relative;
			text-transform: uppercase;
		}
		a::after {
			content: "";
			background: $green;
			display: block;
			position: absolute;
			left: 50%;
			height: $border-width;
			bottom: 15px;
			right: 50%;
			transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
		}
		a:hover::after {
			left: 30px;
			right: 30px;
		}

		ul {
			display: none;
		}
		/*ul {
			background: rgba(white, 0.9);
			border-radius: 0 0 $border-radius $border-radius;
			left: 30px;
			opacity: 0;
			padding: 10px 20px;
			position: absolute;
			top: 100%;
			transition: opacity 0.3s ease-in-out;

			li {
				display: block;
				margin: 0;
				white-space: nowrap;
			}
			a {
				line-height: 1;
				padding: 10px 0;
			}
		}

		& > li:hover {
			& > ul {
				opacity: 1;
			}
		}*/
	}
}