@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  color: #555;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6em;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 50px;
}

@media only screen and (max-width: 900px) {
  .wrap {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 449px) {
  .wrap {
    padding: 0 25px;
  }
}

#header {
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 10;
}

#header.hero-border {
  border-bottom: 2px solid #86C847;
}

#header.past-hero::before {
  background: rgba(255, 255, 255, 0.9);
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  top: -50px;
}

#header .hamburglar {
  display: none;
}

#header menu {
  float: left;
  font-size: 0;
  margin-left: 260px;
  position: relative;
}

#header menu ul {
  display: none;
}

#header menu li {
  display: inline-block;
  line-height: 1;
  position: relative;
}

#header menu a {
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 20px 30px;
  position: relative;
  text-transform: uppercase;
}

#header menu a::after {
  content: "";
  background: #86C847;
  display: block;
  position: absolute;
  left: 50%;
  height: 4px;
  bottom: 15px;
  right: 50%;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

#header menu a:hover::after {
  left: 30px;
  right: 30px;
}

#logo {
  border-radius: 8px;
  padding: 2em 3em;
  background: white;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

#logo img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  #logo {
    left: 50%;
    padding: 1.5em 2em;
    transform: translate(-50%, -50%);
    width: 90px;
  }
  #header {
    height: 45px;
    top: 40px;
  }
  #header .hamburglar {
    background: rgba(51, 52, 51, 0);
    display: block;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    transition: background 0.3s ease-in-out;
  }
  #header .hamburglar span {
    background: #585958;
    display: block;
    height: 3px;
    width: 20px;
  }
  #header .hamburglar span + span {
    margin-top: 3px;
  }
  #header .hamburglar:hover {
    background: rgba(88, 89, 88, 0.25);
  }
  #header .hamburglar:active {
    background: none !important;
  }
  #header menu {
    background: white url(../img/logo-fuzion.png) no-repeat;
    background-position: 30px 30px;
    background-size: 100px auto;
    bottom: 0;
    box-shadow: 0 0 20px 10px transparent;
    left: 0;
    margin: 0;
    max-width: 300px;
    padding-top: 135px;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 75vw;
    z-index: 10;
  }
  #header menu::before {
    background: #86C847;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    top: 115px;
  }
  #header menu::after {
    background: rgba(148, 149, 148, 0.1);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 115px;
  }
  #header menu ul {
    display: block;
  }
  #header menu li {
    display: block;
    position: relative;
    text-align: left;
    z-index: 2;
  }
  #header menu li li a {
    font-weight: 400;
    padding-left: 50px;
  }
  #header menu > li + li {
    margin-top: 20px;
  }
  #header menu a {
    padding: 8px 30px;
    text-transform: none;
  }
  #header menu a::after {
    display: none;
  }
  #header menu a:hover {
    color: #000080;
  }
}

#footer {
  background: rgba(148, 149, 148, 0.1);
  margin: 0 auto;
  padding: 3em;
}

#footer p {
  font-size: 1.2em;
}

#footer .wrap > p:first-child {
  font-weight: 700;
  line-height: 1;
}

.main {
  margin: 6em auto 8em;
}

.main.alternate {
  background: rgba(148, 149, 148, 0.1);
  margin-bottom: 4em;
  padding-top: 5em;
  padding-bottom: 6em;
}

.main.alternate ul li::before {
  color: #000080;
}

.main .wrap {
  max-width: 900px;
}

.main .col-2 {
  column-count: 2;
}

.main .col-3 {
  column-count: 3;
}

.main h2 {
  color: #585958;
  font-size: 4.8em;
  font-weight: 700;
  line-height: 1.3;
}

.main h3 {
  color: #86C847;
  font-size: 2.4em;
  line-height: 1.3;
  margin-top: 2.5em;
}

.main h4 {
  color: #000080;
  font-size: 1.9em;
  font-weight: 700;
  margin-top: 1em;
}

.main p {
  font-size: 1.6em;
  font-weight: 300;
}

.main p + p {
  margin-top: 1em;
}

.main ul:after {
  content: "";
  display: table;
  clear: both;
}

.main ul li {
  display: block;
  font-size: 1.6em;
  font-weight: 300;
  padding-left: 20px;
  position: relative;
}

.main ul li::before {
  color: #86C847;
  content: "\2022";
  font-size: 30px;
  left: 0;
  line-height: 16px;
  position: absolute;
  top: 7px;
}

.main ul li + li {
  margin-top: 0.25em;
}

.main h2 + h3 {
  margin-top: 0.5em;
}

.main h2 + p {
  margin-top: 1em;
}

.main h3 + p {
  margin-top: 0.75em;
}

.main h4 + p,
.main h4 + ul {
  margin-top: 0.5em;
}

.main ul + p {
  margin-top: 1em;
}

.main p + ul {
  margin-top: 1.6em;
}

.main + .main {
  margin-top: 0;
}

.main + .main h2 {
  padding-top: 0.25em;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -1;
}

body[overlay-state="hamburglar"] {
  overflow: hidden;
}

body[overlay-state="hamburglar"] #header menu {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  transform: translateX(0);
}

body[overlay-state="hamburglar"] #overlay {
  opacity: 1;
  z-index: 9;
}

.button {
  box-sizing: border-box;
  background: #333433;
  border: 8px solid transparent;
  border-radius: 10em;
  color: white;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 2em;
  padding: 0.5em 3em;
  text-transform: uppercase;
  transition: border 0.3s ease-in-out;
}

.button:hover {
  border-color: #86C847;
}

.hero {
  background: url(../img/hero/hero-1.jpg) center 70% no-repeat;
  background-size: cover;
  border-bottom: 10px solid #86C847;
  height: 80vh;
  min-height: 500px;
}

.promos:after {
  content: "";
  display: table;
  clear: both;
}

.promos a {
  box-sizing: border-box;
  background: url(../img/hero/hero-3.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  min-height: 20vw;
  position: relative;
  transition: background 0.3s ease-in-out;
  width: 33.333%;
  z-index: 9;
}

.promos a::before {
  background: rgba(51, 52, 51, 0.9);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 1;
}

.promos a:nth-child(2n) {
  background-image: url(../img/hero/hero-4.jpg);
}

.promos .copy {
  box-sizing: border-box;
  background: rgba(51, 52, 51, 0.8);
  color: white;
  display: block;
  padding: 8%;
  position: relative;
  z-index: 2;
}

.promos .copy > *:first-child {
  color: #86C847;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1;
}

.promos .copy > *:first-child ~ * {
  font-size: 1.6em;
  margin-top: 0.25em;
}

@media only screen and (max-width: 1200px) {
  .promos .copy > *:first-child {
    font-size: 2.4em;
  }
  .promos .copy > *:first-child ~ * {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 550px) and (max-width: 900px) {
  .promos a {
    margin: 0;
    min-height: 100px;
    width: 100%;
  }
  .promos a::before {
    opacity: 1;
  }
  .promos a + a {
    margin: 20px 0 0 0;
  }
  .promos .copy {
    background: none;
    padding: 3em;
    width: 50%;
  }
}

@media only screen and (max-width: 549px) {
  .promos a {
    margin: 0;
    min-height: 100px;
    padding-bottom: 100px;
    width: 100%;
  }
  .promos a + a {
    margin: 0;
  }
  .promos .copy > *:first-child {
    font-size: 2em;
  }
  .promos .copy > *:first-child ~ * {
    font-size: 1.4em;
  }
}

.basic-bar .logo {
  margin-top: 40px;
  width: 200px;
}

.basic-bar .wrap {
  border-bottom: 4px solid #86C847;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 40px;
  padding-bottom: 25px;
}

.content {
  margin: 25px auto 0 auto;
  max-width: 1000px;
  padding: 0 40px;
}

.content p {
  font-size: 1.6em;
  font-weight: 700;
}

.content p:first-child {
  font-weight: 400;
  margin-bottom: 40px;
}

.site-list {
  margin-bottom: 40px;
}

.site-list li {
  font-size: 1.6em;
  list-style: circle inside;
}

.site-list li a {
  color: #000080;
  display: inline-block;
  padding: 5px 0;
  position: relative;
}

.site-list li a::after {
  background: #000080;
  bottom: 7px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  transition: background 0.3s ease-in-out;
}

.site-list li a:hover::after {
  background: #86C847;
}

.footer {
  background: #eee;
  margin-top: 80px;
  padding: 40px;
}

.footer .wrap {
  margin: 0 auto;
  max-width: 1000px;
}

.footer p {
  font-size: 1.6em;
}

.footer p:first-child {
  font-weight: 700;
  padding-bottom: 1em;
}

.footer a {
  color: #000080;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #86C847;
}
/*# sourceMappingURL=app.css.map */